.detailabout {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-list {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 35px;
    justify-content: start;
    align-items: center;
    width: 100%;

    .listjudul {
      color: rgb(214, 211, 211);
      width: 90px;
      margin-right: 20px;
    }
  }
  p {
    margin: 0;
    margin-bottom: 10px;
  }

  h3 {
    text-align: start;
    width: 100%;
    margin-left: 30px;
  }
}
